<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="../plugins/elementui/index.css">
    <link rel="stylesheet" href="../plugins/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/login.css">
</head>
<body>
<div id="app">
    <div class="login_background">
        <div class="login_box">
            <div class="avatar_box">
                <img src="../assets/logo.jpg" alt=""/>
            </div>
            <div class="elFrom_table">
                <el-form
                        class="el_myForm"
                        ref="elForm"
                        :model="formData"
                        :rules="rules"
                        size="medium"
                        label-width="0px"
                        label-position="left"
                >
                    <el-form-item label="" prop="username">
                        <el-input
                                v-model="formData.username"
                                placeholder="账号"
                                :maxlength="20"
                                clearable
                                prefix-icon="el-icon-user-solid"
                                :style="{ width: '100%' }"
                        ></el-input>
                    </el-form-item>
                    <el-form-item label="" prop="password">
                        <el-input
                                v-model="formData.password"
                                placeholder="密码"
                                :maxlength="20"
                                clearable
                                prefix-icon="el-icon-key"
                                :style="{ width: '100%' }"
                        ></el-input>
                    </el-form-item>
                    <el-form-item size="large" class="elFrom_button">
                        <el-button @click="toRegister()">去注册</el-button>
                        <el-button @click="resetForm()">重置</el-button>
                        <el-button @click="submitForm()">登录</el-button>
                    </el-form-item>
                </el-form>
            </div>
        </div>
    </div>
</div>
</body>
<!-- 引入组件库 -->
<script src="../js/vue.js"></script>
<script src="../plugins/elementui/index.js"></script>
<script type="text/javascript" src="../js/jquery.min.js"></script>
<script src="../js/axios-0.18.0.js"></script>

<script>
    const vue = new Vue({
        el: '#app',
        data: {
            formData: {
                username: '',
                password: '',
            },
            rules: {
                username: [
                    {
                        required: true,
                        message: '请输入账号',
                        trigger: 'blur',
                    },
                ],
                password: [
                    {
                        required: true,
                        message: '请输入密码',
                        trigger: 'blur',
                    },
                ],
            }
        },
        methods: {
            submitForm() {
                this.$refs['elForm'].validate((valid) => {
                    if (!valid) return
                    // TODO 提交表单
                    axios.post("/user/login", this.formData).then((resp) => {
                        if (resp.data.code == 20041) {
                            sessionStorage.setItem("username",resp.data.data.username)
                           document.location.href="./brain-b.html"
                        } else {
                            this.$message.error(resp.data.msg);
                        }
                    })

                })
            },
            resetForm() {
                this.formData.username="";
                this.formData.password="";
            },
            toRegister(){
                document.location.href="./register.html"
            }

        }
    })
</script>
</html>